{% extends 'layout.html' %}
{% block title %}Clustering{% endblock %}
{% block body %}


<h1>Clustering</h1>
<hr>
<p></p>

<div class="mt-3 ml-3">
    <form method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token() }}
            <div class="row">
                <div class="col">
                    <label for="folder">Choose dataset:</label>
                    {{ form.folder(class='form-control') }}
                </div>
                <div class="col">
                    <label for="clusters">Select no. of clusters</label>
                    {{ form.clusters(class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.submit(class='btn btn-success mt-2') }}
                </div>
            </div>

    </form>
</div>


{% if plot_image != '' %}
    
    <label>Dataset:</label><br \>
    {% for file in filenames %}
    <img class="thumbnails" src="{{ url_for('static', filename='photos/clustering/' + folder + '/' + file) }}" alt="">
    {% endfor %}

    
    <img class="plot" width="100%" src="{{ plot_image }}" alt="Nopy">

{% endif %}




{% endblock %}