{% extends 'layout.html' %}
{% block title %}Segmentation{% endblock %}
{% block body %}

<h1>Segmentation</h1>
<hr \>

<div class="mt-3">
    <form method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token() }}

        <div class="row">
            <div class="col">
                <label for="picture">Choose picture:</label>
                {{ form.picture(class='form-control') }}
            </div>
            <div class="col">
                <label for="threshold">Enter threshold (0-1000)</label>
                {{ form.threshold(class='form-control')}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="threshold">Enter seed point e.g. (x, y) (100, 300)</label>
                {{ form.seed_point(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.submit(class='btn btn-success mt-2') }}
            </div>
        </div>
    </form>
</div>

{% if flag == True %}
    <hr \>
    <!-- Originals -->
    <label class="">Original</label>
    <img width="100%" src="{{ url_for('static', filename='photos/segmentation/' + picture_name) }}" alt="Nope">

    <!-- Edited -->
    <label class="mt-4">Region Growing</label>
    <img width="100%" src="{{ img_rg }}" alt="Nope">
    
    <label class="mt-4">Thresholding</label>
    <img width="100%" src="{{ img_thres }}" alt="Nope">
    
    <label class="mt-4">Watershed</label>
    <img width="100%" src="{{ img_watershed }}" alt="Nope">
{% endif %}
{% endblock %}
