.python-version
Submission 1/static/.DS_Store
Submission 1/static/photos/.DS_Store
Submission 1/static/photos/clustering/.DS_Store
.DS_Store
Submission 1/.vscode/settings.json
Submission 2/app/static/pr_models/model.p
Submission 2/app/__pycache__/forms.cpython-311.pyc
Submission 2/app/__pycache__/pr_model.cpython-312.pyc
Submission 2/app/__pycache__/pr_model.cpython-312.pyc
