{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<style>
    footer {
        display: none !important;
    }
</style>

<div class="page_contents">
    <div class="section_wrapper">
        <form class="form" method="post" action="">
            {{ form.csrf_token() }}
            <!-- <label for="first_name">Fornavn:</label> -->
            <!-- {{ form.first_name(class="form-control") }} -->
            

            {{ form.submit(class="rounded-0 btn btn-success btn-primary btn-lgbtn-block") }}
        </form>
    </div>
</div>



{% endblock %}