{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<style>
    footer {
        display: none !important;
    }
</style>

<!-- <div class="page_heading">Root</div> -->
<div class="page_contents">
    {% for elem in data %}
        {% if elem['method'] == "GET" %}
            <a href="/search-library/?url={{ elem['href'] }}">List: {{ elem['rel'] }}</a> <br>
        {% endif %}

        {% if elem['method'] == "POST" %}
            <a href="/submit/?rel={{ elem['rel'] }}&url={{  elem['href']  }}&json={{ elem['json'] }}">Add: {{ elem['rel'] }}</a> <br>
        {% endif %}
    {% endfor %}
</div>



{% endblock %}