{% extends 'layout.html' %}
{% block title %}Get All{% endblock %}
{% block body %}


<!-- <div class="page_heading">Root</div> -->
<div class="page_contents">
<a class="large-button" href="javascript:history.back()">Go Back</a>

    <!-- All -->
    {% if flag == 0 %}
        {% for key, category in response.items() %}
            {% for elem in category %}
                <div class="library-list-item">
                    <h1>{{ elem['id'] }}: {{ elem['title'] }}</h1>
                    
                    <div class="item-details">
                        <div class="category">Category: {{ key }}</div>
                        <div>
                        {% for link in elem['links']%}
                            <a class="small-button" href="/search-library/?url={{ link['href'] }}">{{ link['method'] }}</a>
                        {% endfor %}
                        </div>
                    </div>


                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    <!-- Category items -->
    {% if flag == 1 %}

        {% for elem in response %}
            <div class="library-list-item">
                <h1>{{ elem['id'] }}: {{ elem['title'] }}</h1>
                
                <div class="item-details">
                    <div class="category">Category: {{ elem['links'][0]['rel'] }}</div>
                    <div>
                    {% for link in elem['links']%}
                        <a class="small-button" href="/search-library/?url={{ link['href'] }}">{{ link['method'] }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    
    <!-- Single item -->
    {% if flag == 2 %}
        <div class="library-list-item">
            <!-- Title & Author/Creator -->
            <h1>{{ response['title'] }}</h1>
            <h2>{{ name }}: {{ response[name] }}</h2>

            <!-- Links -->
            <div class="item-details">
                <div></div>
                <div>
                {% for elem in response['links'] %}
                    {% if elem['method'] == "PUT" %}
                        <a class="small-button" href="/edit/?url={{ elem['href'] }}">Edit</a>
                    {% endif %}

                    {% if elem['method'] == "DELETE" %}
                        <a class="small-button" href="/delete/?url={{ elem['href'] }}&category={{ elem['rel'] }}">Delete</a>
                    {% endif %}

                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


</div>



{% endblock %}