{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}


<div class="page_contents">
<a class="large-button" href="javascript:history.back()">Go Back</a>

    <div class="library-list-item">
        <form class="form" method="post" action="">
            {{ form.csrf_token() }}

            {% for i in range(form.field_list|length) %}
                {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
                {{ form.field_list[i].hidden_tag() }}
                
                <label for="entry">{{ form.field_list[i].entry.label }}</label>
                {{ form.field_list[i].entry(class="form-control") }} <br>
            {% endfor %}

            {{ form.submit(class="rounded-0 btn btn-success btn-primary btn-lgbtn-block") }}
        </form>
    </div>
</div>



{% endblock %}