{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="page_contents">
    <!-- Menu items based on contents from HATEOAS api. -->
    {% for elem in data %}
        {% if elem['method'] == "GET" %}
            <a class="large-button" href="/search-library/?url={{ elem['href'] }}">List {{ elem['rel'] }}</a>
        {% endif %}

        {% if elem['method'] == "POST" %}
            <a class="large-button" href="/submit/?rel={{ elem['rel'] }}&url={{  elem['href']  }}&json={{ elem['json'] }}">Add {{ elem['rel'] }}</a>
        {% endif %}
    {% endfor %}
</div>



{% endblock %}