{% extends 'layout.html' %}
{% block title %}Logg inn{% endblock %}
{% block body %}

<style>
    footer {
        display: none !important;
    }
</style>

<div class="login-bg"></div>
<div class="login">
    <div class="login-container text-center">
        <!-- <h3 class="text-center"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" srcset=""></h3> -->
            <!-- <hr> -->

        <form class="" method="POST">
            {{form.csrf_token}}
            <div class="form-group" >
                <p>{{form.user_name.label}}<br>
                {{form.user_name(size=32)}}<br>
                </p>
                <p>{{form.password.label}}<br>
                {{form.password(size=32)}}<br>
                </p>
                <div class="text-center">{{ form.submit(class="btn btn-lg btn-primary mt-3") }}</div>
            </div>
        </form>
    </div>
</div>

<div class="copyright">42 4F 44 C3 98 © 2023</div>

{% endblock %}