{% extends 'layout.html' %}
{% block title %}DICOM Pixel Data{% endblock %}
{% block body %}

<h1>***WIP**** DICOM Pixel Data</h1>
<hr>
<p></p>

<div class="mt-3">
    <form method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token() }}

        <div class="row">
            <div class="col">
                <label for="picture">Choose picture:</label>
                {{ form.picture(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.submit(class='btn btn-success mt-2') }}

            </div>
        </div>

    </form>

</div>
<hr>
<div style="float: right">
<p>Pixel Data</p>
<textarea class="form-control" rows="18" cols="36" style="overflow-y: scroll; width: fit-content ">{%for pixel in pixel_data %}{{ pixel }}{%endfor%}</textarea>
</div>

<img src="{{ img }}" alt="Boink">


{% endblock %}